<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://cdn.staticfile.org/amazeui/2.7.2/css/amazeui.min.css">
        <title>{{page.title}}</title>
        <style>
            ul,ol{
                margin: 0 !important;
            }
            li>a{
                padding: 0.6rem 0;
                display: block;
            }
            body{
                margin: 26px auto;
            }
            li{
                border-bottom: 1px solid #eee;
                padding: 12px 0;
                display: block;
            }
        </style>
    </head>
    <body class="am-container am-animation-fade">
        {{content}}
    </body>
</html>
